.create-theme{
    background-color: #E1E1E1;
    min-height: 730px;
    #edit{
        width: 1070px;
    }
    .right-comtent{
        position: absolute;
        left: 1150px;
        top: 50px;
        p{
            color: #CECECE;
            font-size: 12px;
        }
    }
    .submit{
        width: 45px;
        background-color: blue;
        color: white;
        display: block;
        text-align: center;
        line-height: 35px;
        border-radius: 3px;
        margin-top: 20px;
    }
}