.topic-detail{
    background-color: #E1E1E1;
    min-height: 730px;
    .header{
        width: 1270px;
        background-color: white;
        margin-left: 70px;
        margin-top: 20px;
        font-size: 25px;
        font-weight: 800;
        border: 1px solid #CECECE;
        position: relative;
        .collect{
            position: absolute;
            left: 1200px;
            top: 40px;
            width: 50px;
            background-color: #80BD01;
            height: 30px;
            font-size: 15px;
            color: white;
            border: none;
            text-align: center;
            line-height: 30px;
            border-radius: 4px;
            &:hover{
                cursor: pointer;
            }
        }
        .cancelCollect{
            position: absolute;
            left: 1150px;
            top: 40px;
            width: 100px;
            height: 30px;
            font-size: 15px;
            border: none;
            background-color: #E5E5E5;
            text-align: center;
            line-height: 30px;
            border-radius: 4px;
            &:hover{
                cursor: pointer;
            }
        }
        .info{
            line-height: 30px;
            color: #CECECE;
            font-size: 12px;
            padding-left: 20px;
        }
        .title{
            padding: 20px 0 0 20px;
            .share{
                font-size: 13px;
                background-color: #E1E1E1;
                padding: 3px;
                border-radius: 2px;
                margin-right: 10px;
            }
            .top{
                font-size: 13px;
                background-color: #80BD01;
                padding: 3px;
                border-radius: 2px;
                color: white;
                margin-right: 10px;

            }
        }
    }
    .center-card{
        width: 1270px;
        padding: 0 70px 50px 0;
        margin-top: -20px;
        ul{
            li{
                list-style: square;
                line-height: 30px;
                margin-left: 30px;
            }
        }
        p{
            margin: 20px 0 20px 0;
        }
        a{
            color: #1678FF;
        }
        h2{
            font-size: 30px;
            font-weight: 700;
            border-bottom: 1px solid #CECECE;
        }
        img{
            width: 1200px;
        }
    }
    .repiles{
        margin-top: 50px;
        p{
            img{
                width: 1200px;
            }
        }
        .input-header{
            width: 1270px;
            margin-left: 70px;
            margin-top: 70px;
            line-height: 40px;
            background-color: #F6F6F6;
            font-size: 15px;
            padding-left: 15px;
        }
        .input-button{
            width: 1270px;
            padding-top: 20px;
            color: white;
            background-color: white;
            margin-left: 70px;
            button{
                width: 60px;
                height: 30px;
                background-color: #80BD01;
                border: none;
                font-size: 15px;
                margin-left: 18px;
            }
        }
    }
}