.right-content{
    position: absolute;
    left: 1140px;
    top: 65px;
    width: 280px;
    background-color: #E1E1E1;
    .ruby-img{
        margin-left: -15px;
    }
    .erweima{
        width: 230px;
        height: 230px;
    }
    .body-content{
        .publish{
            width: 280px;
            height: 60px;
            background-color: white;
            margin-top: 20px;
            padding-top: 10px;
            span{
                background-color: #80BD01;
                width: 80px;
                display: block;
                text-align: center;
                line-height: 40px;
                margin-left: 10px;
                font-size: 13px;
                color: white;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .top-content{
        padding: 15px;
        line-height: 22px;
        font-size: 15px;
        background-color: white;
        
        .img{
            display: flex;
            font-size: 20px;
            color: black;
        }
        .score{
            font-size: 14px;
            color: black;
            line-height: 40px;
        }
        .title{
            font-size: 12px;
            line-height: 30px;
            width: 400px;
        }
        img{
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
        span{
            display: block;
            font-size: 13px;
            color: #7B92A2;
            margin-top: 15px;
        }
        button{
            background-color: #5BC0DE;
            color: white;
            border: none;
            padding: 7px;
            width: 200px;
            height: 35px;
            &:hover{
                background-color: #2F96B4;
                cursor: pointer;
            }
        }
    }
}