.profile{
    background-color: #E1E1E1;
    min-height: 1900px;
    p{
        line-height: 40px;
    }
    .share{
        background-color: #CECECE;
        color: white;
        margin: 0 10px 0 10px;
        padding: 3px;
        border-radius: 3px;
    }
    .top{
        background-color: #80BD01;
        color: white;
        margin: 0 10px 0 10px;
        padding: 3px;
        border-radius: 3px;
    }
    .profile-img{
        font-size: 20px;
        display: flex;
        span{
            line-height: 100px;
            display: block;
        }
        img{
            width: 100px;
            height: 100px;
            margin-right: 30px;
        }
    }
}